@tailwind base;
@tailwind components;
/* 👇 Global class */
.flex-row-g {
  @apply flex justify-center items-center;
}
.flex-col-g {
  @apply flex-col justify-center items-center;
}
/* 👆 Global classes */

/* 👇 Start navbar in home page */
.home_header {
  @apply text-white bg-zinc-800 border-zinc-600;
}
.home_header nav {
  @apply flex justify-between items-center h-20 px-4;
}
.home_header nav > section {
  @apply flex justify-center items-center;
}
.home_header nav > section > div {
  @apply w-[20px] h-[20px] sm:w-[35px] sm:h-[35px] bg-zinc-700 rounded-full mx-1 flex-row-g cursor-pointer;
}
.home_header nav > section > h2 {
  @apply hidden sm:block sm:text-center;
}
.home_header nav > section > div > svg {
  @apply m-0;
}
.home_header nav > section > h1 {
  @apply hidden sm:block sm:text-xl;
}
.home_header nav > ul {
  @apply flex justify-around items-center px-1 ml-1 bg-zinc-700 rounded w-[140px] h-[30px] sm:h-[50px] sm:w-[450px];
}
.home_header nav > ul > li {
  @apply flex-row-g px-1 py-1 sm:py-3 text-center sm:px-6 rounded cursor-pointer;
}
.home_header nav > ul > li > h4 {
  @apply text-[5px] sm:text-[12px] md:text-[14px];
}
.home_header nav > ul > li > span {
  @apply text-[5px] bg-zinc-800 rounded-full px-2 sm:py-1 ml-2 sm:text-xs;
}
.activate {
  @apply bg-zinc-800;
}
.activate span {
  @apply !bg-zinc-700;
}
/* 👆 End navbar in home page */

/* 👇 Start LeftSideBar in home page */
.main_LeftSideBar {
  @apply w-[280px] px-5 bg-zinc-800 border-zinc-600 hidden md:block;
}
/* 👇 Menu Section */
.main_LeftSideBar-MenuSection {
  @apply flex-col-g my-6 text-xs text-gray-300;
}
.main_LeftSideBar-MenuSection div {
  @apply flex justify-start items-center pl-2 py-3 my-1 rounded-md cursor-pointer;
}
.main_LeftSideBar-MenuSection div span {
  @apply text-[10px] rounded-full px-1 py-[0.8px] -tracking-[0.8px] bg-zinc-700 text-center ml-4 hidden lg:block;
}
.active {
  @apply bg-zinc-700 !text-blue-600;
}
.active span {
  @apply !bg-zinc-800 !text-gray-300;
}
/* 👆 Menu Section */

/* 👇 Cummunity Section */
.main_LeftSideBar-CommunitySection {
  @apply flex-col-g  mt-4 text-gray-400 text-sm;
}
.main_LeftSideBar-CommunitySection header {
  @apply flex justify-between items-center text-white;
}
.main_LeftSideBar-CommunitySection header > p {
  @apply px-2 py-1 bg-zinc-700 rounded-full text-xs;
}
.main_LeftSideBar-CommunitySection div {
  @apply flex-col-g my-4;
}
.main_LeftSideBar-CommunitySection div li {
  @apply flex justify-start items-center list-none my-3 cursor-pointer;
}
.main_LeftSideBar-CommunitySection div li img {
  @apply w-[30px] h-[30px] rounded-full;
}
.main_LeftSideBar-CommunitySection div > li > section {
  @apply text-xs ml-2;
}
.main_LeftSideBar-CommunitySection div > li > aside {
  @apply w-[35px] h-[35px] bg-zinc-700 rounded text-center text-xs pt-1;
}
.main_LeftSideBar-CommunitySection div > li > aside > h4 {
  @apply text-white -mb-1;
}
.main_LeftSideBar-CommunitySection div > li > aside > span {
  @apply text-[8px];
}
.main_LeftSideBar-CommunitySection div > li > section > h1 {
  @apply text-white;
}
.main_LeftSideBar-CommunitySection div > li > section > div {
  @apply m-0;
}
.main_LeftSideBar-CommunitySection div > li > section > div > span {
  @apply text-[10px] mr-1;
}
/* 👆 Cummunity Section */

/* 👇 Start home body Section */
.home-body {
  @apply bg-zinc-950 h-[calc(100vh-80px)] py-4;
}
.post,
.postcard {
  @apply max-w-[750px] w-[90%] mx-auto mb-6 flex-col justify-center items-center bg-zinc-900 border-zinc-600 pt-3 md:pt-5 md:pb-2 pb-1 px-4 border-[1px] rounded-lg;
}
/* 👇 Post component */
.post div {
  @apply flex-row-g mb-1 md:mb-3;
}
.post div img,
.postcard header > li > img {
  @apply w-[10%] rounded-full md:w-[5%];
}
.post div input {
  @apply text-xs px-3 text-white py-1 placeholder:text-white bg-zinc-700 border-[1px] border-gray-500 rounded-xl  ml-2 w-[90%];
}
.post section {
  @apply flex justify-between items-center md:mx-4;
}
.post section div {
  @apply flex justify-between items-center text-[10px];
}
.post section div svg {
  @apply mr-2 md:text-lg md:mr-4;
}
.post section div div {
  @apply mb-0;
}
.post section div button {
  @apply px-2 py-1 border-[1px] rounded-lg bg-zinc-950 ml-2 md:ml-6 md:px-6 md:py-2;
}
/* 👇 Postcard component */
.postcard header > li {
  @apply list-none;
}
/* 👆 End home body Section */

/* 👆 End LeftSideBar in home page */
@tailwind utilities;

/* Start design Scroll bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* end design Scroll bar */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
