@tailwind base;
@tailwind components;
/* 👇 Global class */
.flex-row-g {
  @apply flex justify-center items-center;
}
.flex-col-g {
  @apply flex-col justify-center items-center;
}
/* 👆 Global classes */

/* 👇 Start LeftSideBar in home page */
.main_LeftSideBar {
  @apply max-w-[250px] px-5 bg-zinc-800;
}
/* 👇 Menu Section */
.main_LeftSideBar-MenuSection {
  @apply flex-col-g my-6 text-xs text-gray-300;
}
.main_LeftSideBar-MenuSection div {
  @apply flex justify-start items-center pl-2 py-3 my-1 rounded-md cursor-pointer;
}
.main_LeftSideBar-MenuSection div span {
  @apply text-[10px] rounded-full px-2 py-[0.8px] -tracking-[0.8px] bg-zinc-700 text-center ml-8;
}
.active {
  @apply bg-zinc-700 !text-blue-600;
}
.active span {
  @apply !bg-zinc-800 !text-gray-300;
}
/* 👆 Menu Section */

/* 👇 Cummunity Section */
.main_LeftSideBar-CommunitySection {
  @apply flex-col-g  mt-4 text-gray-400 text-sm;
}
.main_LeftSideBar-CommunitySection header {
  @apply flex justify-between items-center text-white;
}
.main_LeftSideBar-CommunitySection header > p {
  @apply px-2 py-1 bg-zinc-700 rounded-full text-xs;
}
.main_LeftSideBar-CommunitySection div {
  @apply flex-col-g my-4;
}
.main_LeftSideBar-CommunitySection div li {
  @apply flex justify-start items-center list-none my-3 cursor-pointer;
}
.main_LeftSideBar-CommunitySection div li img {
  @apply w-[30px] h-[30px] rounded-full;
}
.main_LeftSideBar-CommunitySection div > li > section {
  @apply text-xs ml-2;
}
.main_LeftSideBar-CommunitySection div > li > aside {
  @apply w-[35px] h-[35px] bg-zinc-700 rounded text-center text-xs pt-1;
}
.main_LeftSideBar-CommunitySection div > li > aside > h4 {
  @apply text-white -mb-1;
}
.main_LeftSideBar-CommunitySection div > li > aside > span {
  @apply text-[8px];
}
.main_LeftSideBar-CommunitySection div > li > section > h1 {
  @apply text-white;
}
.main_LeftSideBar-CommunitySection div > li > section > div {
  @apply m-0;
}
.main_LeftSideBar-CommunitySection div > li > section > div > span {
  @apply text-[10px] mr-1;
}
/* 👆 Cummunity Section */

/* 👆 End LeftSideBar in home page */
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}  */

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
